[Unit]
Description=Hive Mind

[Service]
ExecStart=/home/pi/env/bin/alfred_client --config=/home/pi/alfred-client/alfred_client/config.py
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
